{% extends 'layout.html' %}
{% block header %}
<div class="site-heading">
  <h1>Bethune Computing Club</h1>
  <span class="subheading">Rekindling the Programmer in all of us.</span>
</div>
{% endblock header %}

{% block content %}
  <!-- Switch to urls of news articles that they can click on which brings them to the actual site -->
  {% for post in posts %}
  <div class="post-preview">
	<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
	  <h2 class="post-title"> {{ post.title }} </h2>
	  <h3 class="post-subtitle">{{ post.subtitle }}</h3>
	</a>
	<p class="post-meta"> Posted by {{ post.author }} on {{ post.date }}</p>
  </div>
  <hr>
  {% endfor %}
  <!-- Pager -->
  <div class="clearfix">
	<a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
  </div>
{% endblock content %}