{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<!-- Load Pygments -->
<link rel="stylesheet" href="{{ url_for('pygments_css') }}">
{% endblock head %}

{% block header %}
<div class="post-heading">
  <h1>{{ post.title }}</h1>
  <h2 class="subheading">{{ post.subtitle }}</h2>
  <span class="meta">Posted by
	<a href="#">{{ post.author }}</a>
	{{ post.date }}</span>
{% endblock header %}

{% block content %}
  {{ post.html|safe }}

  {% if post.embed %}
  <center>
	<div class = "embed-responsive" id = "frameDiv">
	  <iframe src="{{ url_for('get_content', filename=post.embed, loadtype=post.embed_type) }}" class = "embed-responsive-item" onload = "resize()" id = "frame">
		Error with the notebook, or page, or something.
	  </iframe>
	</div>
	<script>
	  function resize() {
		//Grab the frame
		var frame = document.getElementById("frame");
		//Grab the div
		var frameDiv = document.getElementById("frameDiv");
		//Temporarily set the height
		frame.style.height = '0px';
		//Grab the actual scrollHeight
		var sHeight = frame.contentWindow.document.body.scrollHeight + 50 + 'px';
		//Use the scrollHeight to se the iframe's and div's height
		//Using paddingBottom breaks the iframe
		//Must adjust the div, otherwise the iframe will be hidden inside a smaller div
		frame.style.height = sHeight;
		frameDiv.style.height = sHeight;
	  }
	</script>
  </center>
  {% endif %}
{% endblock content %}